<!--
<img src="../../../assets/brews/1-allagash.png" alt="Allagash" style="width: 100%">

<a mat-raised-button color="primary" routerLink="/brews">🍺 Back home for now</a> -->

<img src="../../../assets/brews/{{tourStop}}.png" alt="Tour Stop {{tourStop}}" style="width: 100%">

<a mat-raised-button color="primary" routerLink="/brew">🍺 Back home for now</a>

<!-- <div class="image-list" fxLayout="row">
	<ng-container *ngFor="let image of images">
		<app-image-list-item class="image-list__item" [image]="image" [style.margin]="layoutGap + 'px'" (click)="onImageListItemClick(image)"></app-image-list-item>
    <app-image-list-item [image]="image"></app-image-list-item>
	</ng-container>
</div> -->


