<div class="main-div">
      <mat-card class="rule-card" >
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>The Rules</mat-card-title>
          <mat-card-subtitle>Brewery Puzzle Tour by Vic</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="../../assets/ht-logo.png" alt="Happy Tales Logo"> -->
        <mat-card-content>
          <p>Hello Explorer 🤠</p>

        <p>At each brewery you will be given a puzzle or riddle to solve. Upon solving it, you will recieve a QR code that you can scan to get the next brewery.</p>

        <p>Thanks for adventuring with me 😃</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="startTour()">🍺 Go to this brewery first!</button>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
  </div>
