.rule-card {
  max-width: 640px;
}

.header-image {
  background-image: url('../../../assets/ht-logo.png');
  background-size: cover;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
