<header>
  <br>
  <div class="main-div">
      <mat-card class="home-card" >
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Nicole Farrell</mat-card-title>
          <mat-card-subtitle>Studio</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="../../assets/ht-logo.png" alt="Happy Tales Logo"> -->
        <mat-card-content>
          <h1 class="welcomeSign">Welcome to My Art Website 👋😃</h1>

          <button mat-stroked-button (click)="goToBottom()">Contact Me</button>
          <button mat-stroked-button (click)="goToBottom()">About Me</button>


        <!-- homepage.component.html -->
        <h2>Recent Artwork</h2>
        <div *ngFor="let art of artwork | async; let i = index" class="featured-art-container">
          <div *ngIf="i % 2 === 0" class="featured-art-container">
            <div>
              <h3>{{ art.title }}</h3>
              <p>{{ art.description }}</p>
              <p>Price: {{ art.price }}</p>
              <p>Sold: {{ art.sold }}</p>
            </div>
            <div>
              <img [src]="art.imageUrl" alt="{{ art.title }}" class="featured-art-left"/>
            </div>
          </div>
          <div *ngIf="i % 2 !== 0" class="featured-art-container">
            <div>
              <h3>{{ art.title }}</h3>
              <p>{{ art.description }}</p>
              <p>Price: {{ art.price }}</p>
              <p>Sold: {{ art.sold }}</p>
            </div>
            <div>
              <img [src]="art.imageUrl" alt="{{ art.title }}" class="featured-art-right"/>
            </div>
          </div>
        </div>

        </mat-card-content>
        <mat-card-actions>
          <p id="contactMe">Contact Nicole if you would like to buy any of these original pieces.</p>
          <a mat-raised-button color="primary" style="margin-right: 10px;" href="mailto:nhparaboschi@gmail.com" target="blank">Message Nicole</a>
        </mat-card-actions>
      </mat-card>
  </div>
</header>

<!-- <h1>Artwork initial</h1>
    <ul>
        <li *ngFor="let art of artwork | async">
            Title: {{art.title}}<br>
            Price: {{art.price}}<br>
            Description: {{art.description}}<br>
            Sold: {{art.sold}}<br>
            <img [src]="art.imageUrl" alt="{{ art.title }}" width="20%" />
        </li>
    </ul> -->

<app-about></app-about>
