<header>
  <br>
  <div class="main-div">
      <mat-card class="home-card" >
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Nicole Farrell</mat-card-title>
          <mat-card-subtitle>Studio</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="../../assets/ht-logo.png" alt="Happy Tales Logo"> -->
        <mat-card-content>
          <p class="welcomeSign">Hello Friend 👋😃</p>

        <p>Contact Nicole if you would like to buy any of these original pieces.</p>

        <p>This site is a work in progress. If you have suggestions or ideas for it, let <a href="mailto:jvictorfarrell@gmail.com">me</a> know.
          </p>

        <!-- homepage.component.html -->

        <h1>Welcome to My Art Website</h1>

        <!-- <div *ngIf="artwork" class="featured-art-container">
          <app-featured-art *ngFor="let art of artwork | async"> [artwork]="art"></app-featured-art>
        </div> -->

        <!-- <div *ngIf="recentArtwork.length === 0">
          <p>No recent artwork found.</p>
        </div> -->

        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" style="margin-right: 10px;" href="mailto:nhparaboschi@gmail.com" target="blank">Message Nicole</a>
        </mat-card-actions>
      </mat-card>
  </div>
</header>

<h1>Artwork</h1>
    <ul>
        <li *ngFor="let art of artwork | async">
            Title: {{art.title}}<br>
            Price: {{art.price}}<br>
            Description: {{art.description}}<br>
            Sold: {{art.sold}}
            <img [src]="art.imageUrl" alt="{{ art.title }}" width="20%" />
        </li>
    </ul>

<app-about></app-about>
