// header {
//   text-align: center;
// }

// .card-text {
//     margin: 10px;
//     min-width: 300px;
//     max-width: 300px;
//     padding: 10px;
//     background: #212121;
//   }

  .home-card {
  max-width: 640px;
}

.header-image {
  background-image: url('../../assets/nicole-logo.png');
  background-size: cover;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeSign {
  animation: helloSlide 1s ease 0s 1 normal forwards;
}

@keyframes helloSlide {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Container for featured art pieces */
.featured-art-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styles for each featured art piece */
.featured-art-left {
  // flex-basis: calc(50% - 10px); /* Adjust the width as needed */
  order: 1;
  margin-bottom: 20px;
  width: 40%;
  /* Add other styling as needed */
}

.featured-art-right {
  // flex-basis: calc(50% - 10px); /* Adjust the width as needed */
  order: 2;
  margin-bottom: 20px;
  width: 40%;
  /* Add other styling as needed */
}

/* Clearfix to prevent layout issues with floated elements */
.featured-art-container::after {
  content: '';
  display: block;
  clear: both;
}
