<header>
  <br>
  <div class="main-div">
      <mat-card class="home-card" >
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Nicole Farrell</mat-card-title>
          <mat-card-subtitle>Studio</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="../../assets/ht-logo.png" alt="Happy Tales Logo"> -->
        <mat-card-content>
          <p class="welcomeSign">Hello Friend 👋😃</p>

        <p>Contact Nicole if you would like to buy any of these original pieces.</p>

        <p>This site is a work in progress. If you have suggestions or ideas for it, let <a href="mailto:jvictorfarrell@gmail.com">me</a> know.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" style="margin-right: 10px;" href="mailto:nhparaboschi@gmail.com" target="blank">Message Nicole</a>
          <!-- <a mat-raised-button color="accent" style="margin-right: 10px;" href="https://www.victorfarrell.com/home" target="blank">About the Dev</a> -->
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
  </div>
</header>


